<!--To search a new compound-->

<div itemscope="itemscope" itemtype="http://www.axeleratio.com/voc/chemid">

<form class="navbar-form navbar-right" role="search">
    <div class="input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
        <input type="text" class="form-control" data-ng-model="chebiID" placeholder="Insert ChEBI ID here">
    </div>
    <button data-ng-click="getChebi(chebiID)" class="btn btn-default">Search</button>
</form>
<br>


<!-- Compound-->
<!--header-->


<div class="page-header">
    <h2>Chemical Compound: <small itemprop="ChEBI">CHEBI ID {{chebi.chebiid}}</small></h2>
</div>


<!--TODO: alterar nome de variaveis que espera, testar arrays -->
<!--para retirar depois-->

<!--<div>-->
    <!--<form >-->
        <!--<textarea name="id" data-ng-model="chebiID"placeholder="Chebi ID"></textarea>-->
        <!--<button data-ng-click="getChebi(chebiID)">submit compound</button>-->
    <!--</form>-->
<!--</div>-->


<!-- Separador Main-->


<div class="panel panel-success">
    <div class="panel-heading">
        <label class="panel-title">Main Information</label>
    </div>


    <div class="panel-title">
        <br>
        <label for="comment">Chemical Compound ID</label>
        <br>
        <br>
    </div>
    <div class="container">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>ChEBI ID</th>
                <td itemprop="ChEBI">{{chebi.chebiid}}</td>
            </tr>
            <tr>
                <th>ChEBI Name</th>
                <td itemprop="CompName">{{chebi.chebiname}}</td>
            </tr>
            <tr>
                <th>Formula</th>
                <td itemprop="Formula">{{chebi.formula_data}}</td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="panel-title">
        <br>
        <label for="comment">Names and Identifiers</label>
        <br>
        <br>
    </div>
    <div class="container">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>IUPAC Names</th>
                <td>{{chebi.iupacName}}</td>
            </tr>
            <tr>
                <th>Inchy</th>
                <td itemprop="InChI">{{chebi.inchi}}</td>
            </tr>
            <tr>
                <th>Inchi Key</th>
                <td itemprop="InChI">{{chebi.inchikey}}</td>
            </tr>
            <tr>
                <th>SMILES</th>
                <td itemprop= "SMILES">{{chebi.smiles }}</td>
            </tr>
            <tr>
                <th>Synonym</th>
                <td>
                    <div ng-if="testForArray(chebi.synonyms)">
                        <li ng-repeat=" item in chebi.synonyms" >
                            <span itemprop="TrivialName"> {{item.source}} | {{item.name}} </span> <br/>
                        </li  >
                    </div>
                    <div ng-if="!testForArray(chebi.synonyms)">
                        <li >
                            <span itemprop="TrivialName"> Synonym: {{chebi.synonyms.source}} | {{chebi.synonyms.name}}</span> <br/>
                        </li  >
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-title">
        <br>
        <label for="comment">Properties</label>
        <br>
        <br>
    </div>
    <div class="container">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Molecular Weight</th>
                <td>{{chebi.molecularWeight}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="panel-title">
        <br>
        <label for="comment">Other Information</label>
        <br>
        <br>
    </div>
    <div class="container">
        <table class="table table-striped">
            <tbody>
            <tr>
                <th>Registry Number</th>
                <td>
                    <div ng-if="testForArray(chebi.registry)">
                        <li ng-repeat=" item in chebi.registry">
                            Source: {{item.source}},
                            Type: {{item.type}},
                            Number: {{item.nregistry}}

                        </li  >
                    </div>
                    <div ng-if="!testForArray(chebi.registry)">
                        <li >
                            Source: {{chebi.registry.source}},
                            Type: {{chebi.registry.type}},
                            Number: {{chebi.registry.nregistry}}
                        </li  >
                    </div>
                </td>
            </tr>
            <tr>
                <th>PubChem Reference</th>
                <td itemprop= "PubChem">{{chebi.pubchem }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>




<!-- Separador Ontology-->

<!--<div class="panel panel-success">-->
    <!--<div class="panel-heading">-->
        <!--<label class="panel-title">Ontology</label>-->
    <!--</div>-->
    <!--<div class="panel-body">-->
        <!--Panel content-->
        <!--????-->
    <!--</div>-->
<!--</div>-->




<!--&lt;!&ndash; Separador Pathway&ndash;&gt;-->


<!--<div class="panel panel-success">-->
    <!--<div class="panel-heading">-->
        <!--<label class="panel-title">Pathways</label>-->
    <!--</div>-->
    <!--<div class="panel-body">-->
        <!--Panel content-->
        <!--???-->
    <!--</div>-->
<!--</div>-->


