<div>

     <!--TODO: alterar nome de variaveis que espera, testar arrays -->

    <form >
        <textarea name="id" data-ng-model="chebiID"placeholder="Chebi ID"></textarea>
        <button data-ng-click="getChebi(chebiID)">submit compound</button>
    </form>


    <div itemscope="itemscope" itemtype="http://www.axeleratio.com/voc/chemid">

<!--CHEBI ID-->
         <li >
            <span itemprop="ChEBI"> Chebi ID: {{chebi.chebiid}} </span> <br/>
        </li  >

<!--CHEBI ASCII-->
        <li >
            <span  itemprop="CompName" >Chebi Ascii: {{chebi.chebiname}} </span> <br/>
        </li  >
<!--FORMULAE-->
        <li >
            <span itemprop="Formula"> Formulae: {{chebi.formula_source}}  |   {{chebi.formula_data}} </span> <br/>
        </li  >

<!--CHEMICAL STRUCTURES-->
        <li >
            2D Chemical Structure <br/>
            Type: {{chebi.twoD_type}} <br/>
            Structure: {{chebi.twoD}} <br/>
        </li  >
        <li >
            3D Chemical Structure <br/>
            Type: {{chebi.threeD_type}} <br/>
            Structure: {{chebi.threeD}} <br/>
        </li  >

<!--IUPAC NAMES-->
        <li >
            Iupac type: {{chebi.iupacType}}<br/>
            Iupac name: {{chebi.iupacName}}<br/>
        </li  >

<!--INCHI-->
        <li >
            <span itemprop="InChI"> Inchy: {{chebi.inchi}}</span> <br/>
            <span itemprop="InChI"> Inchi Key: {{chebi.inchiKey}}</span> <br/>
        </li  >

<!--SYNONYMS-->
        <div ng-if="testForArray(chebi.synonyms)">
            Synonyms:
            <li ng-repeat=" item in chebi.synonyms" >
                <span itemprop="TrivialName"> {{item.source}} | {{item.name}} </span> <br/>
            </li  >
        </div>
        <div ng-if="!testForArray(chebi.synonyms)">
            <li >
                <span itemprop="TrivialName"> Synonym: {{chebi.synonyms.source}} | {{chebi.synonyms.name}}</span> <br/>
            </li  >
        </div>

<!--Registry numbers-->
        <div ng-if="testForArray(chebi.registry)">
            Registry numbers:
            <li ng-repeat=" item in chebi.registry">
                Source: {{item.source}} <br>
                Type: {{item.type}}<br>
                Number: {{item.nregistry}}<br>

            </li  >
        </div>
        <div ng-if="!testForArray(chebi.registry)">
            <li >
                Registry numbers:
                Source: {{chebi.registry.source}} <br>
                Type: {{chebi.registry.type}}<br>
                Number: {{chebi.registry.nregistry}}<br>
            </li  >
        </div>

<!--From DBpedia-->
        <span itemprop= "SMILES"> smiles: {{chebi.smiles }}</span><br>
        <span> Molecular weigth: {{chebi.molecularWeight}}</span><br>
        <span itemprop= "PubChem"> PubChem: {{chebi.pubchem }}</span><br>
    </div>
</div>