<div>

    <!--IBEnt-->
    <form >
        <textarea class="well" data-ng-model="toAnnotate" data-ng-change="dataChanged()" placeholder= "Input text or NCBI id to annotate"></textarea>
        <button data-ng-click="annotateDoc(toAnnotate)">Submit</button>
    </form>
    <ul>

        <li data-ng-repeat= "doc in document.payload |filter:toAnnotate |limitTo:4 " ng-if="toAnnotate.length > 0">
            <!-- Shows idNCBI and title of 4 documents-->
            <a data-ng-click="showAbstract(doc.title, doc.abstract, doc.idNCBI)  ">{{doc.idNCBI }} - {{doc.title}}</a>


        </li>

    </ul>
    </br>




    <div ng-show="showAbstDiv === true">
        <!-- Shows title-->
        <h4 data-ng-bind = "title"></h4>

        <!--Shows abstract and when it's annotated, shows annotations-->
        <!-- also shows popOver -->
        <div id = "annotatedText" data-ng-click= getSelText()  ng-bind="abstract"
             ns-popover
             ns-popover-template="popover"
             ns-popover-trigger="click"
             ns-popover-placement = "top|left"
             ns-popover-mouse-relative = "xy"
             ns-popover-theme="ns-popover-list-theme">
             Popover
            </div>
        <!--Button to annotate this abstract-->
        <div ng-show = "showButton === true">
            <button data-ng-click="showButton = false; annotateDoc(idNCBI)">Annotate Paper</button>
        </div>
    </div>


    <script type="text/ng-template" id = "popover">
        <ul >
            <!-- Shows operations for this annotation-->
            <li ng-repeat="item in annotationsInClick">
                <a href="#" ng-click = "showDetails = !showDetails; showChemicalDetails(item)">{{item.chem.name}}</a>
                <div class = "operations" ng-show = "showDetails" ng-repeat = "op in item.content">{{op}}</div>
            </li>
        </ul>
    </script>


    <!-- Shows chemical details for popOver-->
    <div ng-repeat = "(key, value) in chemDetails.chem">
        <li>{{key}} : {{value}}</li>
    </div>


</div>