


<!--<div ui-view ="header"></div>-->
<div class="container">
    <div class="row" style="border: 2px">

        <div class="col-sm-4 col-md-3">
            <h2>Sign Up</h2>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" ng-model="signUpInfo.username" placeholder="Choose a Username">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <input type="text" class="form-control" ng-model="signUpInfo.email" placeholder="Your Email">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" ng-model="signUpInfo.password" placeholder="Choose Password">
            </div>
            <button ng-click="signUserUp()">Sign-Up</button>
        </div>


        <div class="col-sm-4 col-md-3">
            <h2>Login</h2>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input type="text" class="form-control" ng-model="loginInfo.username" placeholder="Username">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input type="password" class="form-control" ng-model="loginInfo.password" placeholder="Password">
            </div>
            <button ng-click="loginUser()">Log in</button>
            <br>
        </div>
        <br>
    </div>
    <br>
</div>
