<!--User-->
<!--header-->


<!-- Alterar para aparecer o username automaticamente -->

<div class="page-header">
    <h2>User Area: <small> {{username}}</small></h2>
</div>

<!-- Separador Main-->

<div class="panel panel-success">
    <div class="panel-heading">
        <label class="panel-title">Annotated Terms</label>
    </div>

    <p>
        Aqui é para aparecer o grafico d3 com as bolinhas:
        o codigo esta em d3User.html e
        é para juntar com o codigo da Marta
    </p>
</div>